{"swagger":"2.0","info":{"title":"GLU Google Drive API","description":"Custom connector used by GLU to create, rename and delete folders directly within Google Drive. This is required because the standard Power Automate Google Drive connector does not expose native Create Folder or Delete Folder operations.","version":"1.2"},"host":"www.googleapis.com","basePath":"/drive/v3","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/files":{"post":{"summary":"Create Folder in Google Drive","description":"Creates a folder underneath the supplied Google Drive parent folder.","operationId":"CreateFolder","x-ms-visibility":"important","parameters":[{"name":"supportsAllDrives","in":"query","required":false,"type":"boolean","default":true,"description":"Required when working with Shared Drives."},{"name":"fields","in":"query","required":false,"type":"string","default":"id,name,mimeType,parents","description":"Fields to return from Google Drive."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateFolderRequest"}}],"responses":{"200":{"description":"Folder created successfully","schema":{"$ref":"#/definitions/CreateFolderResponse"}},"default":{"description":"Google Drive API error","schema":{"type":"object"}}}}},"/files/{fileId}":{"delete":{"summary":"Safely Delete a Folder from Google Drive","description":"Permanently deletes the supplied Google Drive folder.","operationId":"DeleteFolder","x-ms-visibility":"important","parameters":[{"name":"fileId","in":"path","required":true,"type":"string","description":"Google Drive ID of the folder to delete."},{"name":"supportsAllDrives","in":"query","required":false,"type":"boolean","default":true,"description":"Required when working with Shared Drives."}],"responses":{"204":{"description":"Folder deleted successfully"},"403":{"description":"Permission denied","schema":{"type":"object"}},"404":{"description":"Folder not found","schema":{"type":"object"}},"default":{"description":"Google Drive API error","schema":{"type":"object"}}}},"patch":{"summary":"Rename Folder in Google Drive","description":"Updates the name of an existing Google Drive folder.","operationId":"RenameFolder","x-ms-visibility":"important","parameters":[{"name":"fileId","in":"path","required":true,"type":"string","description":"Google Drive ID of the folder to rename."},{"name":"supportsAllDrives","in":"query","required":false,"type":"boolean","default":true,"description":"Required when working with Shared Drives."},{"name":"fields","in":"query","required":false,"type":"string","default":"id,name,mimeType,parents","description":"Fields to return after the rename."},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/RenameFileRequest"}}],"responses":{"200":{"description":"Folder renamed successfully","schema":{"$ref":"#/definitions/RenameFileResponse"}},"403":{"description":"Permission denied","schema":{"type":"object"}},"404":{"description":"File or folder not found","schema":{"type":"object"}},"default":{"description":"Google Drive API error","schema":{"type":"object"}}}}}},"definitions":{"CreateFolderRequest":{"type":"object","required":["name","mimeType","parents"],"properties":{"name":{"type":"string","description":"Name of the folder to create","example":"Scheme: Example Fund"},"mimeType":{"type":"string","description":"Google Drive MIME type for a folder","default":"application/vnd.google-apps.folder","example":"application/vnd.google-apps.folder"},"parents":{"type":"array","description":"Parent Google Drive folder IDs","minItems":1,"maxItems":1,"items":{"type":"string"},"example":["1ABCDEF123456789"]}}},"CreateFolderResponse":{"type":"object","properties":{"id":{"type":"string","description":"Google Drive ID of the newly created folder"},"name":{"type":"string","description":"Folder name"},"mimeType":{"type":"string","description":"Google Drive MIME type"},"parents":{"type":"array","items":{"type":"string"}}}},"RenameFileRequest":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"New name for the Google Drive file or folder","example":"TODELETE - GAP-123456"}}},"RenameFileResponse":{"type":"object","properties":{"id":{"type":"string","description":"Google Drive ID of the renamed item"},"name":{"type":"string","description":"Updated name"},"mimeType":{"type":"string","description":"Google Drive MIME type"},"parents":{"type":"array","items":{"type":"string"}}}}},"parameters":{},"responses":{},"securityDefinitions":{"oauth2-auth":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://accounts.google.com/o/oauth2/auth","tokenUrl":"https://oauth2.googleapis.com/token","scopes":{"https://www.googleapis.com/auth/drive.file":"https://www.googleapis.com/auth/drive.file"}}},"security":[{"oauth2-auth":["https://www.googleapis.com/auth/drive.file"]}],"tags":[]}